* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F4266;
    --grey: #2E2F42B2;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

body {
    font-family: 'Roboto' , 'sans-serif';
    font-style: normal;
}

h2 {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.section-hero {
    color: var(--white);
    background-color: var(--navyblue);
    text-align: center;
}

.hero-slogan {
    color: var(--white);
    text-align: center; 
    font-size: 56px;
    font-style: normal;
    line-height: 60px; 
    letter-spacing: 1.12px;
}
.section-footer {
    color: var(--white);
    background-color: var(--navyblue);
}

.footer-caption {
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-nav-logo {
    font-family: 'raleway' , 'sans serif';
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;  
}

.span-logo {
    font-family: 'raleway', 'sans serif';
    color: var(--navyblue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.span-logo-footer {
    color: var(--cloud);
}

.nav-list,
.address-list,
.button-list-item {
   list-style-type: none;
}
.header-nav-links {
    color: var(--navyblue);
    font-family: 'Roboto' , 'sans serif';
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.32px;

}

.address-link {
    color: var(--slate);
    font-family: 'Roboto' , 'sans-serif';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address-link:focus,
.address-link:hover,
.header-nav-links:focus,
.header-nav-links:hover {
    color: var(--ocean);
}

.button-list-filters:focus,
.button-list-filters:hover {
    color: var(--white);
    background-color: var(--ocean);
}

.hero-button:focus,
.hero-button:hover {
    background-color: var(--ocean);
}


.features-item-heading {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
} 

.features-caption {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.section-team {
    background-color: var(--cloud);
}

.team-name,
.team-position {
    text-align: center;
}

.team-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.team-position {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.button-list-filters {
    color: var(--iris);
    font-family: Roboto , 'sans serif';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid;
    border-color:  var(--cornflower);
    background: var(--cloud, #F4F4FD);
    cursor:pointer;
}

.hero-button {
    color: var(--white);
    background-color: var(--iris);
    font-family: 'Roboto' , 'sans serif';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button-list-item:active,
.hero-button:active,
.header-nav-links:active {
    color: var(--ocean);
}

 ul {
    list-style-type: none;
}

.app-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.app-name-category {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}



